[Unit]
Description=eazy sessions session/display manager
After=graphical.target

[Service]
ExecStart=/usr/bin/ezs
TTyPath=/dev/tty1

[Install]
Alias=display-manager.service
WantedBy=multi-user.target